#root, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #F6F2D4;
}
.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    align-items: center;
    text-align: center;
}
.quote {
    padding: 0px 20px;
    display: flex;
    width: 250px;
    height: 400px;
    background: url("images/background.png");
    justify-content: center;
    align-items: center;
    text-align: center;

}
.button {
    background-image: url("images/kanye_glasses.png");
    cursor: pointer;
    width: 100px;
    height: 130px;
    border: none;
    background-color:#F6F2D4
}
